@font-face {
    src: url(resources/fonts/Nexa-ExtraLight.ttf);
    font-family: nexa;
}
@font-face {
    src: url(resources/fonts/Nexa-Heavy.ttf);
    font-family: nexa-bold;
}
.headerr{
    position: sticky;
}
.au-container{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: left; 
    padding: 2rem;
    margin-left: 2rem;
    padding-top: 2rem;
} 
.head1{
    background: url(resources/img1.png);
    min-height: 100px;
    padding-top: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.head1 h1{
    font-size: 2.9rem;
    color: #fff;
    font-family: nexa-bold;
    font-weight: bold;
    padding-bottom: 2.1rem;
    padding-left: 4.2rem;
    text-align: left;
}
@media (max-width: 991px){
    .head1{
        padding-top: 15rem;
    }
}
.au-container h1,
.au-container h2{
    font-size: 2.9rem;
    color: #A4040A;
    font-family: nexa-bold;
    font-weight: bold;
    padding-bottom: 2.1rem;
}
.au-container h1{
    text-align: left;
    color:#A4040A;
}
/* ABOUT US START */
.au-section{
    display: flex;
    padding-top: 25px;
    justify-content: center;
    position: relative;
    padding-bottom: 100px;
}
.collapsible{
    max-width: 1200px;
    overflow: hidden;
    font-weight: 500px;
}
.collapsible input{
    display: none;
}
.collapsible label{
    position: relative;
    font-weight: 600;
    background: #A4040A;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.7rem;
    z-index: 1;
    padding-top: 20px;
}   
.collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: url(resources/arrow-white.png) no-repeat 0 0;
    transition: all 0.3s ease;
}
@media (max-width: 991px) {
    .collapsible label:after{
        top: 2px;
    }
}
.collapsible input:checked + label::after{
    transform: rotate(90deg);
}
.collapsible input:checked + label + .collapsible-text{
    margin-bottom: 20px;
}
.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #000;
    line-height: 1.4;
    color: #fff;
    overflow-y: auto;
    font-size: 1.2rem;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.collapsible-img{
    max-height: 1px;
    border-radius: 4px;
    border: 1px solid #000;
    color: #fff;
    overflow-y: auto;
    font-size: 1.2rem;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    padding-left: 80px;
    text-align: left;
}
.collapsible input#head1:checked ~ #head1{
    max-height: 300px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    background: #A4040A;
    opacity: 1;
    top: 0;
}
.collapsible input#head2:checked ~ #head2{
    max-height: 500px;
    background: #A4040A;
    opacity: 1;
    top: 0;
}
/* sub */
.collapsible input#sub-head1:checked ~ #sub-head1{
    max-height: 500px;
    background:  #A4040A;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    opacity: 1;
    top: 0;
}
.collapsible input#sub-head2:checked ~ #sub-head2{
    max-height: 500px;
    background:  #A4040A;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    opacity: 1;
    top: 0;
}
.collapsible input#sub-head3:checked ~ #sub-head3{
    max-height: 500px;
    background:  #A4040A;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    opacity: 1;
    top: 0;
}
.collapsible input#sub-head4:checked ~ #sub-head4{
    max-height: 500px;
    background:  #A4040A;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    opacity: 1;
    top: 0;
}
.collapsible input#sub-head5:checked ~ #sub-head5{
    max-height: 500px;
    background:  #A4040A;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    opacity: 1;
    top: 0;
}
/* sub end */
.collapsible input#head3:checked ~ #head3{
    max-height: 900px;
    padding-bottom: 25px;
    padding-top: 25px;
    background: #A4040A;
    opacity: 1;
    top: 0;
}
.collapsible input#head4:checked ~ #head4{
    max-height: 500px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 16px;
    background: #A4040A;
    opacity: 1;
    top: 0;
}
/* HERITAGE */
.collapsible-img h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 15px 15px 0;
    font-family: nexa-bold;
    text-shadow: #f4eded;
}
.collapsible-img h4{
    padding: 15px 15px 0;
}
.collapsible-img p{
    padding-left: 15px;
    padding-right: 15px;
}
.collapsible-img .ct-img{
    display: flex;
    overflow: hidden;
    position: relative;
    width:  1000px;
    height: max-content;
    margin: 15px;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .7);
    justify-content: center; 
    align-items: center; 
}
.collapsible-img .ct-img img{
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 991px){
    .collapsible-img .ct-img{
        width: 600px;
    }
}
@media (max-width: 768px){
    .collapsible-img .ct-img{
        width: 250px;
    }
}
/* HERITAGE END */

/* LOCAL */
.t-heroes, 
.town{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.t-heroes th, 
.t-heroes td, 
.town th, 
.town td {
    text-align: left;
    padding: 16px;
}
.t-heroes tr, .town tr{
    border-bottom: 1px solid #ddd;
}
.t-heroes tr:nth-child(even) {
    background-color: #D81324;
}
.town tr:nth-child(even) {
    background-color: #D81324;
}
.town thead{
    background-color: #000;
}
/* LOCAL END */

/* ABOUT US END */

/* HISTORICAL TIMELINE START */
.ht-section{
    padding-bottom: 100px;
}
.timeline_title{
    font-weight: bold;
    color: red;
    text-align: center;
    font-size: 50px;
}
.history_button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: rgb(122, 14, 14) solid 0.15em;
    border-radius: 0.25em;
    color: rgba(14, 14, 14, 0.649);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden ;
    transition: border 0.5s, color 500ms;
    user-select: none;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
    justify-content: center;
}
.history_button{
    display:inline-flex;
}

.history_button p {
    z-index: 1;
}

.history_button:hover {
    color: #212121;
}

.history_button:active {
    border-color: rgb(153, 1, 1);
}

.history_button::after, .history_button::before {
    content: "";
    position: absolute;
    width: 4.05em;
    aspect-ratio:1;
    background-color: rgb(225, 28, 28);
    opacity: 50%; 
    transition: transform 0.5s, background 0.5s;
}

.history_button::before {
    left: 0;
    transform: translateX(-9em);
}

.history_button::after {
    right: 0;
    transform: translateX(9em);
}

.history_button:hover:before {
    transform: translateX(-1em);
}

.history_button:hover:after {
    transform: translateX(1em);
}

.history_button:active:before,
.history_button:active:after {
    background: rgb(116, 0, 0);
}
.popup-text {
    display: none;
    position: relative;
    background-color: #f4eded;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}
.history_button:hover + .popup-text,
.history_button:active + .popup-text {
    display: block;
}
/* HISTORICAL TIMELINE END */

/* BARANGAY START */
.br-section, 
.dep-section{
    content: "";
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center; 
    align-items: center; 
    padding-bottom: 100px;
}
.br-img,
.gov-img{
    display: flex;
    overflow: hidden;
    position: relative;
    width:  166px;
    height: 166px;
    margin: 15px;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .7);
    justify-content: center; 
    align-items: center; 
}
.br-img img,
.gov-img img{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.img-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .8s;
    background: rgba(19, 19, 19, 0.7);
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.img-layer h3{
    font-family: nexa-bold;
}
.img-layer:hover,
.img-layer h3:hover{
    opacity: 0;
}
/* BARANGAY END */
