html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
 }
 *{
    margin: 0;
    padding: 0;
    font-family: nexa;
}
/* font style */
@font-face {
    src: url(resources/fonts/Nexa-ExtraLight.ttf);
    font-family: nexa;
}
@font-face {
    src: url(resources/fonts/Nexa-Heavy.ttf);
    font-family: nexa-bold;
}
/* ------------- */
.header-logo{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient( rgb(145, 21, 19), rgb(213, 213, 29));
    box-shadow: 0 10rem 10rem rgba(0, 0, 0, 0.15) !important;
    background-position: center;
    position: relative;
}
.logo{
    width: 200px;
    position: absolute;
    top: 6px;
    left: 50%; /* Set left to 50% */
    transform: translateX(-50%); /* Use transform to move the element back by half of its width */
}
.header-content{
    min-height: 39.4vh;
    background: url(resources/img1.png);
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.header-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Optional: Centers the image horizontally */
}
.header-content p{
    color: #fff;
    text-align: left;
    padding-left: 138.6px;
}
.header-text1{
    font-size: calc(1.375rem + 1.2vw);
    padding-top: 42px;
    font-weight: 650;
}
.header-text2{
    font-size: calc(1.375rem + 1.2vw);
    font-family: nexa-bold;
    margin-top: -12px;
}
.header-text3{
    font-size: 16px;  
    padding-top: 9.3px;
}
/*ABOUT US*/
/* about us header */
.about_us_header{
    min-height: 32.4vh;
    background: url(resources/about-us-08.jpg);
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  .about_us_header p{
    color: #fff;
    text-align: left;
    padding-left: 138.6px;
  }
  .p{
    color: red;
    margin-top: 50px;
    font-size:50px;
    text-align: center;
    font-weight: bold;
  }
  .timeline_title{
    font-weight: bold;
    color: red;
    text-align: center;
    font-size: 50px;
  }
  .history_button {
    all: unset;
    display: flex;
    align-items: center;
    position: sticky;
    padding: 0.6em 2em;
    border: rgb(122, 14, 14) solid 0.15em;
    border-radius: 0.25em;
    color: rgba(14, 14, 14, 0.649);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden ;
    transition: border 300ms, color 500ms;
    user-select: none;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .history_button{
    display:inline-block;
  }
  
  .history_button p {
    z-index: 1;
  }
  
  .history_button:hover {
    color: #212121;
  }
  
  .history_button:active {
    border-color: rgb(153, 1, 1);
  }
  
  .history_button::after, .history_button::before {
    content: "";
    position: absolute;
    width: 8.201em;
    aspect-ratio: 1;
    background-image: linear-gradient( red, yellow);
    opacity: 50%; 
    transition: transform 350ms, background 250ms;
  }
  
  .history_button::before {
    left: 0;
    transform: translateX(-9em);
  }
  
  .history_button::after {
    right: 0;
    transform: translateX(9em);
  }
  
  .history_button:hover:before {
    transform: translateX(-1em);
  }
  
  .history_button:hover:after {
    transform: translateX(1em);
  }
  
  .history_button:active:before,
  .history_button:active:after {
    background: rgb(116, 0, 0);
  }
  .popup-text {
    display: none;
    position: relative;
    background-color: #f4eded;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}

.history_button:hover + .popup-text,
.history_button:active + .popup-text {
    display: block;
}
