@font-face {
    src: url(resources/fonts/Nexa-ExtraLight.ttf);
    font-family: nexa;
}
@font-face {
    src: url(resources/fonts/Nexa-Heavy.ttf);
    font-family: nexa-bold;
}
.service-container{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 2rem;
    padding-top: 11rem;
}
.service-container h1{
    font-size: 2.3rem;
    color: #A4040A;
    font-family: nexa-bold;
}
.service-container h5{
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 3rem;
}
.box-row{
    content: "";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}
.box-col {
    display: flex;
    overflow: hidden;
    position: relative;
    width:  456px;
    height: 243px;
    margin: 15px;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .7);
    justify-content: center; 
    align-items: center; 
}
.icon-section {
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-section img{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 195px;
    height: 208px;
    object-fit:contain;
}
.text-section {
    background-color: darkred;
    width: 50%;
    height: 100%;
    color: white;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-section h2{
    color: #fff;
    font-size: 24px;
    font-family: nexa-bold;
    margin-right: -40px;
    width: 100%;
}
.text-section .btn {
    /* position: absolute; */
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: .9rem;
    color: black;
    font-family: nexa;
    font-size: medium;
    padding: 7px 24px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
}
.btn:hover {
    background-color: #A4040A;
    color: #fff;
}
/*  */
